/* Nav Bar */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #282828;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
}

.nav-links ul li {
    margin-right: 20px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links ul li a:hover {
    color: #ffd700;
}

/* Contact*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container{ 
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../res/téléchargement.jpeg) no-repeat center center/cover;
}

.contact-container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.contact-container form h1{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.contact-container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: white;
}

.contact-container form input::placeholder{
    color: #ddd;
}


.contact-container form #lastname,
.contact-container form #phone{
    margin-left: 20px;
}

.contact-container form h1,
.contact-container form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.contact-container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194, 194, 194, 0.713);
}

.contact-container form #submit-btn{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 550;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.contact-container form #submit-btn:hover{
    opacity: 0.7;
}


/* Footer */
footer {
    background-color: #111;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
    justify-content: space-around;
}

.footer-content h2,
.footer-section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #ffd700;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: translateY(-5px);
}

.social-links img {
    width: 40px;
    height: auto;
}

#keys{
    width: 300px ;
    height: 200px;
}
 
.keys-pic{
    margin-left: 170px;
}