body {
    font-family: Arial, sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(../res/telechargement.jpeg) no-repeat center center/cover;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Nav Bar */
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
}

.nav-links ul li {
    margin-right: 20px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links ul li a:hover {
    color: #ffd700;
}

/* Login */
.login-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 340px;
    text-align: center;
    animation: fadeIn 0.5s ease-out;
    margin: 15px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #20b320;
    color: white;
    padding: 14px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #19a032;
}

.remember-me {
    margin-bottom: 12px;
    font-size: 14px;
}

.create-account,
.back-to-login {
    margin-top: 24px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    text-decoration: underline;
}

.create-account:hover,
.back-to-login:hover {
    color: #333;
}

.create-account-form {
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 340px;
    text-align: center;
    animation: fadeIn 0.5s ease-out;
}
